/Multplicacion/Multiplicacion/nbproject/private/
/Multplicacion/Multiplicacion/target/
/Java/ProjectosDeJava/nbproject/private/
/Java/ProjectosDeJava/build/
/Java/ProjectosDeJava/dist/
/Java/HolaMundopWeb/target/
/Java/PruebaJavaMySql/nbproject/private/
/Java/PruebaJavaMySql/build/
/Java/Conection/target/
